<template>
    <button onclick="${onClick}" class="button ${setType(type)}">
        <span>${text}</span>
    </button>
</template>

<script>
    ({
        props: {
            text: {
                type: String
            },
            type: {
                type: String
            }
        },
        methods: {
            onClick: function(e){
                console.log(e)
            },
            setType: function(type){
                let t = ''

                switch (type) {
                    case 'tool':
                        t = 'button_type_tool'
                        break; 
                }

                return t;
            }
        }

    })
</script>

<style type="text/scss">
   .button {
       border: none;
       appearance: none;
       font-family: sans-serif;
       background-color: transparent;
       border-radius: 4px;
       padding: 8px;
       cursor: pointer;

       &:focus {
           outline: none;
           box-shadow: 0 0 0 3px rgba(0,155,255,0.3)
       }

       .page_theme_light &:hover {
          background-color: rgba(0,0,0,0.05);
       }

       .page_theme_dark &:hover {
          background-color: rgba(255,255,255,0.1);
       }

       .page_theme_light & {
           color: #000;
       }

       .page_theme_dark & {
           color: #fff;
       }

       .page_theme_light &_type_tool {
            border: 1px solid rgba(0,0,0,0.2);
       }

       .page_theme_dark &_type_tool {
            border: 1px solid rgba(255,255,255,0.2);
       } 
   }

</style>