<template>
    <div class="stars">
        ${[...Array(5)].map((e,i)=> ((i < rait) ? `<Icon: name="star" class="stars__star stars__star_filed"></Icon:>` : `<Icon: name="star" class="stars__star"></Icon:>`)).join('')}
        
    </div>
</template>

<script>
    ({
        props: {
            rait: {
                type: Number
            }
        },
        methods: {
        
        }
    })
</script>

<style>
    .stars {
        display: flex;

        .page_theme_light &__star.icon path, .page_theme_dark &__star.icon path {
            fill: #ccc;
        }    

        .page_theme_light &__star_filed.icon path, .page_theme_dark &__star_filed.icon path {
            fill: #FFD353;
        }
    }
</style>