<template>
    <div class="navigation">
        <div class="navigation__address">
            <Icon: name="pin"></Icon:>
            <span>${address} <a href="https://maps.ya.ru/">Построить маршрут</a></span>
        </div>
        <div>
            <div class="navigation__phone">
                <Button: text="${setPhone(phone)}" type="tool" icon="phone"></Button:>
            </div>
            <div class="navigation__tools">
                <Button: text="Telegram" type="tool" onclick="${onClick}"></Button:>
                <Button: text="WhatsApp" type="tool"></Button:>
                <Button: type="tool"></Button:>
            </div>
        </div>
    </div>
</template>

<script>
    ({
        props: {
            address: {
                type: String
            },
            phone: {
                type: String
            }
        },
        methods: {
            setPhone: function(phone){
                return phone
            },
            onClick: function(e){
                console.log(e.target)
            }
        }
    })
</script>

<style type="text/scss">
   .navigation {
       height: 64px;
       display:flex;
       padding: 0px 16px;
       justify-content: space-between;
       align-items: center;
       box-sizing: border-box;
       font-size: 14px;

       & > div {
           display: flex;
       } 

       &__address {
           display: flex;
           align-items: center;
       }

       &__tools {
           display: flex;

           & .button {
               margin-left: 8px;
           }
       }
   }
</style>