<template>
    <div class="navigation">
        <div class="navigation__address">
            <Icon: name="pin"></Icon:>
            <span>${address} <a href="https://maps.ya.ru/">Построить маршрут</a></span>
        </div>
        <div>
            <div class="navigation__phone">
                <Button: text="${setPhone(phone)}" type="tool" icon="phone" size="s"></Button:>
            </div>
            <div class="navigation__tools">
                <Button: text="Telegram" type="tool" icon="telegram" size="s"></Button:>
                <Button: text="WhatsApp" type="tool" icon="whatsapp" size="s"></Button:>
                <Button: type="tool" icon="www" size="s"></Button:>
                <Button: type="tool" icon="instagram" size="s"></Button:>
                <Button: type="tool" icon="facebook" size="s"></Button:>
            </div>
        </div>
    </div>
</template>

<script>
    ({
        props: {
            address: {
                type: String
            },
            phone: {
                type: String
            }
        },
        methods: {
            setPhone: function(phone){
                return phone
            }
        }
    })
</script>

<style type="text/scss">
   .navigation {
       height: 64px;
       display:flex;
       padding: 0px 16px;
       justify-content: space-between;
       align-items: center;
       box-sizing: border-box;
       font-size: 14px;
       min-width: 960px;
       position: fixed;
       z-index: 100;
       width: 100vw;

       .page_theme_light & {
          background-color: #fff;  
       }

       .page_theme_dark & {
          background-color: #000;   
       }

       & > div {
           display: flex;
       } 

       &__address {
           display: flex;
           align-items: center;
       }

       &__tools {
           display: flex;

           & .button {
               margin-left: 8px;
           }
       }
   }
</style>