<template>
    <div class="icon">
        <svg-inline: url="@component/${name}.svg"></svg-inline:>
    </div>
</template>

<script>
    ({
        props: {
            name: {
                type: String
            }
        }
    })
</script>

<style type="text/scss">
    .icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
    }

    .page_theme_light .icon svg {
        path {
            fill: #000;
        }
    }

    .page_theme_dark .icon svg {
        path {
            fill: #fff;
        }
    }

</style>