<template>
    <div 
        class="input"
        ${(width) ? `style="width:${width}px;"` : ''}>
        <div class="input__inner">
            ${(static) ? `<span class="input__static">${static}</span>`: ''}
            <input 
                ${(id) ? `id="${id}"` : ''}
                onfocus="${setFocus}" 
                onblur="${setBlur}"
                type="${type}" 
                value="${value}" />
        </div>
    </div>
</template>

<script>
    ({
        props: {
            static : {
                type: String
            },
            value : {
                type: String,
                default: ''
            },
            id : {
                type: String
            },
            autofocus: {
                type: Boolean
            },
            type: {
                type: String,
                default: 'text'
            },
            width: {
                type: Number
            }
        },
        methods: {
            setFocus: function(e,el) {
                el.parentElement.parentElement.classList.add('input_focused');
            },
            setBlur: function(e,el) {   
                el.parentElement.parentElement.classList.remove('input_focused');
            }
        }
    })
</script>

<style>
    .input {
        display: flex;
        align-items: center;
        border: 1px solid #e2e5ec;
        border-radius: 8px;
        font-family: sans-serif;
        font-size: 16px;
    }

    .input_focused {
        border: 1px solid #6851ff;
    }

    .input__inner {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px 8px;
        box-sizing: border-box;
    }

    .input__static {
        color: #808999;
    }

    .input input {
        border:none;
        flex-grow: 1;
        display: block;
        padding: 8px 0;
        appearance: none;
        font-size: 16px;
    }

    .input input:focus {
        outline:none;
    }
</style>