<template>
    <button class="button ${setType(type)} ${setSize(size)}">
        ${(icon)?`<Icon: style="${setIcon(icon)}" name="${icon}"></Icon:>`:''}
        ${(text)?`<span>${text}</span>`:''}
    </button>
</template>

<script>
    ({
        props: {
            text: {
                type: String
            },
            type: {
                type: String
            },
            icon: {
                type: String
            },
            size: {
                type: String
            }
        },
        methods: {
            
            setType: function(type){
                let t = ''

                switch (type) {
                    case 'tool':
                        t = 'button_type_tool'
                        break;
                    case 'gdu':
                        t = 'button_type_gdu'
                        break;     
                }

                return t;
            },
            setIcon: function(icon){
                return (icon == undefined) ? 'display:none' : ''
            },
            setSize: function(size){
                return (size) ? `button_size_${size}` : ''
            }
        }

    })
</script>

<style type="text/scss">
   .button {
       border: none;
       appearance: none;
       font-family: sans-serif;
       background-color: transparent;
       border-radius: 8px;
       padding: 0 10px;
       cursor: pointer;
       display: flex;
       align-items: center;
       display: flex;

       &_size {
           &_s {
               height: 40px;
           }

           &_m {
               height: 56px;
               padding: 0 24px;
               font-size: 16px;
           }
       }

       &:focus {
           outline: none;
           box-shadow: 0 0 0 3px rgba(0,155,255,0.3)
       }

       & .icon {
          transform: scale(0.8);
          transform-origin: center;
       }

       & .icon + span {
           margin-left: 8px;
       }



       .page_theme_light & {
           color: #000;
       }

       .page_theme_dark & {
        
       }

       .page_theme_light &_type_tool {
            border: 1px solid rgba(0,0,0,0.1);
            color: #000;

            &:hover {
                background-color: rgba(0,0,0,0.05);
            }
       }

       .page_theme_dark &_type_tool {
            border: 1px solid rgba(255,255,255,0.2);
            color: #fff;

            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
       } 

       &_type_gdu {
           background-color: #FFD353;
           color: #000;
           width:fit-content;

           &:hover {
                background-color: #FFC51F;
           }
       }
   }

</style>